.img__logo-kodemia {
    height: 32px;
}

.card__link {
    height: 32px;
}

.card__koder {
    .img__koder-photo {
        height: 180px;
        width: 180px;
        align-items: center;
    }
}