body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: hotpink;
}

.button__key-frames--hotpink {
    width: 144px;
    height: 42px;
    background-color: hotpink;
    color: white;
    margin: 20px;
    border-radius: 10px;
    cursor:pointer;
    border: none;
}

.button__key-frames--hotpink:hover {
    animation-name: example;
    animation-duration: 5s;
}

@keyframes example {
    0% {background-color: blue;}
    25% {background-color: red;}
    50% {background-color: yellow;}
    75% {background-color: green;}
    100% {background-color: purple;}
}

.div__2D-transforms > .button {
    margin: 30px;
    border: none;
    width: 180px;
    border-radius: 15px 0 15px 0;
    height: 40px;
    color: white;
    cursor: pointer;
}

.button__linear--blue {
    background-color: blue;
    transition-timing-function: linear;
}

.button__linear--blue:hover {
    width: 240px;
}

.button__ease-in--green {
    background-color: green;
    transition-timing-function: ease-in;
}

.button__ease-in--green:hover {
    width: 240px;
}

.button__ease--hotpink {
    background-color: hotpink;
    transition-timing-function: ease;
}

.button__ease--hotpink:hover {
    width: 240px;
}

.button__ease-out--yellow {
    color: black;
    background-color: yellow;
    transition-timing-function: ease-out;
}

.button__ease-out--yellow:hover {
    width: 240px;
}

/* 0 -> 600px  */

/* @media only screen and (max-width: 600px) {
    body {
        background-color: aqua;
    }
} */

/* 600x -> 768px */

/* @media only screen and (min-width: 600px) {
    body {
        background-color: rgb(224, 64, 85);
    }
} */

/* 768px -> 992px */

/* @media only screen and (min-width: 768px) {
    body {
        background-color: greenyellow;
    }
} */

/* 992px -> 1200px */

/* @media only screen and (min-width: 992px) {
    body {
        background-color: hotpink;
    }
} */

/* 1200px -> ... */

/* @media only screen and (min-width: 1200px) {
    body {
        background-color: blue;
    }
} */

/* body {
    background-color: black;
} */

.div__card--border-black {
    width: 180px;
    height: 300px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: green;
}

@media only screen and (max-width: 600px) {
    .div__card--border-black {
        display: none;
    }
    .button__key-frames--hotpink {
        /* width: 180px; */
        width: 90px;
        /* height: 144px; */
        height: 60px;
        font-size: 8px;
    }
}

@media only screen and (min-width: 768px) {
    .div__card--border-black {
        background-color: hotpink;
    }
}