$esteban-color: hotpink;
$font-bold: bold;
$standard-border: 2px solid black;
$standard-margin: 30px;
$boder-circle: 50%;
$social-media-icon-width: 32px;
$social-media-icon-height: 32px;
$social-media-icon-padding: 5px;
